.nav {
  background: white;
  color: black;
  display: flex;
  z-index: 1;
}
.nav .logo {
  font-size: 24px;
  padding: 0px;
  margin-left: 10%;
}
.nav .logo a {
  color: black;
  text-decoration: none;
}
.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}
ul li {
  padding: 0px;
  list-style: none;
}
ul li a {
  color: black;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
section {
  height: 300px;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
