.bigbox {
  width: 80%;
  margin: auto;
  margin-bottom:30px;
  text-align: left;
  /* background-color: rgba(128, 128, 128, 0.329); */
}

.imgbox {
  width: 50%;
  padding: 8px;
  height: 320px;
}
.imgbox:hover{
  width: 50%;
  padding: 8px;
  height: 320px;
  padding-bottom: 10px;
  padding-top: 6px
}

.imgbox2 {
  width: 50%;
  padding: 8px;
  height: 320px;
}
.imgbox2:hover{
  width: 50%;
  padding: 8px;
  height: 320px;
  padding-bottom: 10px;
  padding-top: 6px
}

.centered {
  font-size: 40px;
  color: white;
}
.centeredd {
  width: 195px;
  font-size: 16px;
  text-align: center;
  background: none;
  color: white;
  line-height: 48px;
  margin-bottom: 40px;
  border: 1px solid white;
  margin-top: 100px;
}

.centeredd:hover {
  width: 195px;
  font-size: 16px;
  text-align: center;
  background: white;
  color: black;
  line-height: 48px;
  margin-bottom: 40px;
  border: 1px solid white;
  margin-top: 100px;
}
.longimg {
  height: 400px;
  width: 100%;
  background-image: url("https://static.realme.net/v2/home/images/pc/1920-28ebebe77b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  vertical-align: middle;
}
