.phonetitle {
  display: flex;
  align-self: flex-start;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  width: 80%;
  margin: auto;
}

.submenu {
  display: inline-block;
  margin-left: 31px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}

.startbox {
  text-align: start;
  width: 100%;
  margin: auto;
  /* background-color: #dd0b25; */
}

.phoneflex {
  width: 1200px;
  height: 400px;
  padding: 5px;
  margin-left: 72px;
  display: flex;
}

.phoneflex > div {
  background-color: white;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 370px;
  margin: auto;
}

.flex-container > div {
  background-color: white;
  width: 19%;
  margin: 10px;
  text-align: center;
  line-height: 31px;
  font-size: 30px;
  height: 344px;
}

.flex-container > .boxflexs {
  background-color: white;
  width: 580px;
  margin: 10px;
  text-align: center;
  line-height: 31px;
  font-size: 30px;
  height: 344px;
}
.imphone {
  width: 200px;
  height: 177px;
  margin-top: 33px;
}

.phoname {
  font-size: 16px;
  line-height: 20px;
  margin-top: -5px;
  /* text-align: center; */
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sell-point {
  font-size: 14px;
  line-height: 16px;
  margin: 10px 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.price-from {
  color: #777;
  font-size: 12px;
}

.redd {
  font-size: 18px;
  line-height: 20px;
  color: #dd0b25;
}

.boxfle1 {
  width: 291px;
  float: left;
  height: 300px;
  margin: 10px;
}

.boxfle2 {
  width: 244px;
  float: left;
  height: 300px;
  margin: 10px;
}

.stic {
  width: 100%;
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
}

.fleimg {
  width: 80%;
  padding: 26px;
  margin-top: 25px;
}
.goog {
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  margin: 10px 0 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
