.nav {
  color: black;
  display: flex;
  z-index: 1;
  width: 80%;
  margin: auto;
  height: 60px;
}
.logo {
  align-self: center;
}
.logo a {
  color: black;
  text-decoration: none;
}
ul {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
}
li {
  list-style: none;
}
li a {
  color: black;
  display: block;
  text-decoration: none;
  font-weight: 400;
}
section {
  height: 300px;
}
.sticky {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  margin: auto;
  background-color: white;
  color: black;
  display: flex;
  z-index: 1;
  margin: auto;
  height: 60px;
}

.search a {
  text-decoration: none;
  color: black;
}
.search {
  margin: auto;
  font-size: 20px;
}
