.bigbox {
  width: 1122px;
  height: 400px;
  margin: 32px;
  background-color: rgba(128, 128, 128, 0.329);
  margin-left: 138px;
}

.imgbox{
    width: 45%;
    float: left;
    padding: 12px;
    margin-left: 27px;
    height: 344px;
}

.imgbox2{
    width: 45%;
    float: left;
    padding: 12px;
    margin-left: 27px;
    height: 341px;
}

.centered {
    position: absolute;
    top: 698%;
    font-size: 44px;
    color: white;
    line-height: 54px;
    margin-bottom: 40px;
    left: 50%;
  
  }
  .centeredd {
    top: 719%;
    left: 60%;
   
    width: 195px;
    font-size: 16px;
    text-align: center;
  
    background: 0 0;
    color: white;
    line-height: 48px;
    margin-bottom: 40px;
   
    border: 1px solid white;
    position: absolute;
 
    transform: translate(-50%, -50%);
  }

  .centeredd:hover {
    top: 719%;
    left: 60%;
   
    width: 195px;
    font-size: 16px;
    text-align: center;
  
    background: 0 0;
    color: white;
    line-height: 48px;
    margin-bottom: 40px;
   
    border: 1px solid white;
    position: absolute;
 
    transform: translate(-50%, -50%);
  }
.longimg {
    height: 400px;
  
 
}