

.row {
  display: flex;
  flex-wrap: nowrap;

  float: left;
  padding: 8px;
  margin: 6px;
}

.he {
  text-align: start;
  margin-left: 26px;
  font-size: 24px;
}
.pri {
  font-size: 18px;
  line-height: 20px;
  color: #dd0b25;
}

.delpri {
  text-decoration: line-through;
  text-align: center;
  color: #777;
  font-size: 14px;
}

.col {
  font-size: 14px;
  line-height: 16px;
  margin: 10px 0 20px;
}
.row > .prod-img {
  background-color: #f1f1f1;

  margin: 10px;
  text-align: center;
  line-height: 10px;
  font-size: 10px;
  align-items: center;
  width: 289px;
  height: 385px;
}

.row > .tit {
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 600;
}

.titt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 600;
}


div.n {    background-color: rgb(221, 11, 37);
  height: 155px;
  padding: -14px;
  width: 806px;
  margin-left: 274px;
}


.imageproduct{
  width: 26%;
  height: 48%;
  float: left;
}

.titleproduct{
  float: left;
  padding: 17px;    float: left;
  padding: 17px;
  margin-top: 40px;
}

.priceproduct{
  float: left;
  padding: 17px;
  margin-left: 128px;
  margin-top: 36px;
}

.ppriceproduct{
  float: left;
  padding: 17px;
  margin-left: 26px;
  margin-top: 36px;
}
.quantityproduct{
  float: left;
    padding: 17px;
    margin-left: 26px;
    border: 1px solid;
    width: 89px;
    height: 4px;
    margin-top: 36px;
  

}
.cartmain {
  min-height: 600px;
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 40px;
}

.carttitle {
  height: 100px;
  width: 60%;
  margin: auto;
  padding-top: 20px;
  background-color: white;

  text-align: left;

  padding-left: 40px;
}

.cartheader {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}
.cartheader > div {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.cartheader1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.pincode {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  width: 60%;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  margin-left: 271px;
}
.pincode1 {
  align-items: left;
  text-align: left;
}
.pincode > p {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.pincode input {
  width: 300px;
  height: 40px;
}
.pincode button {
  width: 200px;
  height: 40px;
  background-color: #ffc915;
  border: none;
}

.cartitems {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 10px;

  width: 60%;
  background-color: white;
  padding: 20px 60px;
}
.cartitems1 button {
  width: 200px;
  height: 40px;
  background-color: #ffc915;
  border: none;
}
.cartitems1 {
  text-align: left;
}

p.titleProd {
  margin-top: 33px;
}
.titleProd {
  font-size: 16px;
  text-align: initial;
  margin-left: 61px;
  float: left;
  float: left;
  padding: 17px;
  margin-top: 40px;
}

.pricepro{
  margin-right: 19px;

}

.quanpro{
  float: right;
  margin-right: 160px;
  margin-top: -58px;
}

.amtepro {
  float: right;
  margin-right: 44px;
  margin-top: -58px;
}

.imgproo{
  float: left;
  width: 12%;
}

.maindivv{
  width: 900px;
  margin-left: 22px;
}


.m{
  height: 100px;
  width: 60%;
  background-color: white;
  margin: auto;
}


p.pricepro {
  padding: 12px;
    /* margin: 24px; */
    background-color: white;
    margin-left: 20px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: 11px;
}


img.imageproduct{
  margin-top: 45px;
  width: 26%;
  height: 48%;
  float: left;
}